In [92]:
import pandas as pd
import math
from datetime import datetime, date, time

In [93]:
flights = pd.read_csv('flights.csv')
flights

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,flight_id.1,fare_conditions.1,sold_tickets,total_amount_tickets
0,136119,PG0252,AAQ,SVO,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,Arrived,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,733,733,Boeing 737-300,Business,12,136119.0,Business,11.0,402600.0
1,136119,PG0252,AAQ,SVO,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,Arrived,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,733,733,Boeing 737-300,Economy,118,136119.0,Economy,102.0,1250400.0
2,136120,PG0252,AAQ,SVO,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,Arrived,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,733,733,Boeing 737-300,Business,12,136120.0,Business,11.0,402600.0
3,136120,PG0252,AAQ,SVO,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,Arrived,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,733,733,Boeing 737-300,Economy,118,136120.0,Economy,98.0,1202800.0
4,136122,PG0252,AAQ,SVO,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,Arrived,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,733,733,Boeing 737-300,Business,12,136122.0,Business,10.0,366000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,136951,PG0480,AAQ,EGO,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,Arrived,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,SU9,SU9,Sukhoi Superjet-100,Economy,85,136951.0,Economy,78.0,493800.0
250,136953,PG0480,AAQ,EGO,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,Arrived,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,SU9,SU9,Sukhoi Superjet-100,Business,12,136953.0,Business,12.0,226800.0
251,136953,PG0480,AAQ,EGO,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,Arrived,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,SU9,SU9,Sukhoi Superjet-100,Economy,85,136953.0,Economy,85.0,538500.0
252,136956,PG0480,AAQ,EGO,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,Arrived,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,SU9,SU9,Sukhoi Superjet-100,Business,12,136956.0,Business,11.0,207900.0
253,136956,PG0480,AAQ,EGO,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,Arrived,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,SU9,SU9,Sukhoi Superjet-100,Economy,85,136956.0,Economy,85.0,538500.0

In [94]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   flight_id             254 non-null    int64
 1   flight_no             254 non-null    object
 2   departure_airport     254 non-null    object
 3   arrival_airport       254 non-null    object
 4   scheduled_departure   254 non-null    object
 5   scheduled_arrival     254 non-null    object
 6   status                254 non-null    object
 7   actual_departure      254 non-null    object
 8   actual_arrival        254 non-null    object
 9   aircraft_code         254 non-null    object
 10  aircraft_code.1       254 non-null    object
 11  model                 254 non-null    object
 12  fare_conditions       254 non-null    object
 13  seat                  254 non-null    int64
 14  flight_id.1           236 non-null    float64
 15  fare_conditions.1     236 non-null    object
 16  sold_tickets          236 non-null    float64
 17  total_amount_tickets  236 non-null    float64
dtypes: float64(3), int64(2), object(13)
memory usage: 35.8+ KB

In [95]:
#удалим повторяющиеся колонки
flights.drop(['flight_id.1','fare_conditions.1'],axis=1,inplace=True)

In [96]:
#заполним пропуски нулями
flights.sold_tickets = flights.sold_tickets.fillna(0)
flights.total_amount_tickets = flights.total_amount_tickets.fillna(0)

In [97]:
#рассчитаем % заполняемости салона - разделим количество проданных билетов на 
#общее количество мест в каждом классе самолета и умножим на 100

flights['aircraft_occupancy'] = round(flights['sold_tickets'] / flights['seat'] * 100)
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy
164,136661,PG0480,AAQ,EGO,2017-01-01T09:25:00Z,2017-01-01T10:15:00Z,Arrived,2017-01-01T09:27:00Z,2017-01-01T10:17:00Z,SU9,SU9,Sukhoi Superjet-100,Business,12,12.0,226800.0,100.0
105,136458,PG0252,AAQ,SVO,2017-01-02T10:05:00Z,2017-01-02T11:45:00Z,Arrived,2017-01-02T10:07:00Z,2017-01-02T11:46:00Z,733,733,Boeing 737-300,Economy,118,101.0,1239400.0,86.0
112,136479,PG0252,AAQ,SVO,2017-02-21T10:05:00Z,2017-02-21T11:45:00Z,Arrived,2017-02-21T10:08:00Z,2017-02-21T11:47:00Z,733,733,Boeing 737-300,Business,12,10.0,366000.0,83.0
249,136951,PG0480,AAQ,EGO,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,Arrived,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,SU9,SU9,Sukhoi Superjet-100,Economy,85,78.0,493800.0,92.0
246,136937,PG0480,AAQ,EGO,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,Arrived,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,SU9,SU9,Sukhoi Superjet-100,Business,12,9.0,170100.0,75.0
234,136888,PG0480,AAQ,EGO,2017-02-14T09:25:00Z,2017-02-14T10:15:00Z,Arrived,2017-02-14T09:29:00Z,2017-02-14T10:19:00Z,SU9,SU9,Sukhoi Superjet-100,Business,12,10.0,189000.0,83.0
211,136823,PG0480,AAQ,EGO,2017-02-05T09:25:00Z,2017-02-05T10:15:00Z,Arrived,2017-02-05T09:27:00Z,2017-02-05T10:18:00Z,SU9,SU9,Sukhoi Superjet-100,Economy,85,68.0,431400.0,80.0

In [98]:
#приведем данные в колонках 'scheduled_departure','scheduled_arrival','actual_departure','actual_arrival' к формату даты

def to_date(x):
    x = datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ')
    return x

for column in ['scheduled_departure','scheduled_arrival','actual_departure','actual_arrival']:
    flights[column] = flights[column].apply(lambda x:to_date(x))
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy
53,136270,PG0252,AAQ,SVO,2017-02-12 10:05:00,2017-02-12 11:45:00,Arrived,2017-02-12 10:12:00,2017-02-12 11:51:00,733,733,Boeing 737-300,Economy,118,100.0,1226000.0,85.0
44,136264,PG0252,AAQ,SVO,2017-02-18 10:05:00,2017-02-18 11:45:00,Arrived,2017-02-18 10:07:00,2017-02-18 11:47:00,733,733,Boeing 737-300,Business,12,11.0,402600.0,92.0
49,136268,PG0252,AAQ,SVO,2017-02-16 10:05:00,2017-02-16 11:45:00,Arrived,2017-02-16 10:08:00,2017-02-16 11:49:00,733,733,Boeing 737-300,Economy,118,104.0,1273600.0,88.0
148,136620,PG0480,AAQ,EGO,2017-02-17 09:25:00,2017-02-17 10:15:00,Arrived,2017-02-17 09:30:00,2017-02-17 10:19:00,SU9,SU9,Sukhoi Superjet-100,Business,12,9.0,170100.0,75.0
221,136855,PG0480,AAQ,EGO,2017-01-11 09:25:00,2017-01-11 10:15:00,Arrived,2017-01-11 12:07:00,2017-01-11 12:57:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,75.0,475500.0,88.0
194,136769,PG0480,AAQ,EGO,2017-02-10 09:25:00,2017-02-10 10:15:00,Arrived,2017-02-10 09:30:00,2017-02-10 10:21:00,SU9,SU9,Sukhoi Superjet-100,Business,12,11.0,207900.0,92.0
84,136389,PG0252,AAQ,SVO,2017-01-18 10:05:00,2017-01-18 11:45:00,Arrived,2017-01-18 10:10:00,2017-01-18 11:50:00,733,733,Boeing 737-300,Business,12,12.0,439200.0,100.0

In [99]:
#рассчитаем длительность полета в минутах
flights['duration'] = flights['actual_arrival'] - flights['actual_departure']
flights['duration'] = flights['duration'].apply(lambda x:x.seconds / 60)
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration
133,136560,PG0194,AAQ,NOZ,2017-01-24 06:10:00,2017-01-24 11:15:00,Arrived,2017-01-24 06:13:00,2017-01-24 11:18:00,733,733,Boeing 737-300,Economy,118,0.0,0.0,0.0,305.0
125,136523,PG0194,AAQ,NOZ,2017-01-10 06:10:00,2017-01-10 11:15:00,Arrived,2017-01-10 06:14:00,2017-01-10 11:26:00,733,733,Boeing 737-300,Economy,118,0.0,0.0,0.0,312.0
12,136135,PG0252,AAQ,SVO,2017-02-01 10:05:00,2017-02-01 11:45:00,Arrived,2017-02-01 10:08:00,2017-02-01 11:48:00,733,733,Boeing 737-300,Business,12,11.0,402600.0,92.0,100.0
222,136857,PG0480,AAQ,EGO,2017-02-13 09:25:00,2017-02-13 10:15:00,Arrived,2017-02-13 09:31:00,2017-02-13 10:21:00,SU9,SU9,Sukhoi Superjet-100,Business,12,12.0,226800.0,100.0,50.0
107,136463,PG0252,AAQ,SVO,2017-01-20 10:05:00,2017-01-20 11:45:00,Arrived,2017-01-20 10:06:00,2017-01-20 11:45:00,733,733,Boeing 737-300,Economy,118,110.0,1349200.0,93.0,99.0
126,136540,PG0194,AAQ,NOZ,2017-01-17 06:10:00,2017-01-17 11:15:00,Arrived,2017-01-17 06:14:00,2017-01-17 11:21:00,733,733,Boeing 737-300,Business,12,0.0,0.0,0.0,307.0
26,136181,PG0252,AAQ,SVO,2017-01-31 10:05:00,2017-01-31 11:45:00,Arrived,2017-01-31 10:05:00,2017-01-31 11:44:00,733,733,Boeing 737-300,Business,12,10.0,366000.0,83.0,99.0

In [100]:
#рассчитаем задержку вылета рейса в минутах
flights['delay'] = flights['actual_departure'] - flights['scheduled_departure']
flights['delay'] = flights['delay'].apply(lambda x:x.seconds / 60)
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration,delay
66,136320,PG0252,AAQ,SVO,2017-02-19 10:05:00,2017-02-19 11:45:00,Arrived,2017-02-19 10:05:00,2017-02-19 11:45:00,733,733,Boeing 737-300,Business,12,10.0,366000.0,83.0,100.0,0.0
190,136758,PG0480,AAQ,EGO,2017-01-12 09:25:00,2017-01-12 10:15:00,Arrived,2017-01-12 09:26:00,2017-01-12 10:15:00,SU9,SU9,Sukhoi Superjet-100,Business,12,12.0,226800.0,100.0,49.0,1.0
224,136861,PG0480,AAQ,EGO,2017-02-12 09:25:00,2017-02-12 10:15:00,Arrived,2017-02-12 09:28:00,2017-02-12 10:17:00,SU9,SU9,Sukhoi Superjet-100,Business,12,11.0,207900.0,92.0,49.0,3.0
122,136514,PG0194,AAQ,NOZ,2017-02-07 06:10:00,2017-02-07 11:15:00,Arrived,2017-02-07 06:14:00,2017-02-07 11:13:00,733,733,Boeing 737-300,Business,12,0.0,0.0,0.0,299.0,4.0
133,136560,PG0194,AAQ,NOZ,2017-01-24 06:10:00,2017-01-24 11:15:00,Arrived,2017-01-24 06:13:00,2017-01-24 11:18:00,733,733,Boeing 737-300,Economy,118,0.0,0.0,0.0,305.0,3.0
57,136282,PG0252,AAQ,SVO,2017-01-16 10:05:00,2017-01-16 11:45:00,Arrived,2017-01-16 10:07:00,2017-01-16 11:48:00,733,733,Boeing 737-300,Economy,118,97.0,1189400.0,82.0,101.0,2.0
243,136927,PG0480,AAQ,EGO,2017-01-22 09:25:00,2017-01-22 10:15:00,Arrived,2017-01-22 09:28:00,2017-01-22 10:19:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,85.0,538500.0,100.0,51.0,3.0

In [101]:
#сгруппируем данные по рейсам и проанализируем стоимость билетов, заполняемость салона, длительность полета и задержку
flights.groupby(['flight_no','model'])['total_amount_tickets','aircraft_occupancy','duration', 'delay'].mean()

<ipython-input-101-693d2cb4ccf7>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby(['flight_no','model'])['total_amount_tickets','aircraft_occupancy','duration', 'delay'].mean()

,,total_amount_tickets,aircraft_occupancy,duration,delay
flight_no,model,,,,
PG0194,Boeing 737-300,0.000000,0.000000,306.666667,3.111111
PG0252,Boeing 737-300,821288.135593,87.305085,99.830508,6.406780
PG0480,Sukhoi Superjet-100,355217.796610,92.686441,50.084746,9.135593

In [102]:
#вынесем в отдельную колонку день недели
flights['day_of_week'] = flights['scheduled_departure'].apply(lambda x:x.weekday())
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,aircraft_code.1,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration,delay,day_of_week
76,136360,PG0252,AAQ,SVO,2017-02-05 10:05:00,2017-02-05 11:45:00,Arrived,2017-02-05 10:08:00,2017-02-05 11:48:00,733,733,Boeing 737-300,Business,12,11.0,402600.0,92.0,100.0,3.0,6
66,136320,PG0252,AAQ,SVO,2017-02-19 10:05:00,2017-02-19 11:45:00,Arrived,2017-02-19 10:05:00,2017-02-19 11:45:00,733,733,Boeing 737-300,Business,12,10.0,366000.0,83.0,100.0,0.0,6
163,136660,PG0480,AAQ,EGO,2017-02-20 09:25:00,2017-02-20 10:15:00,Arrived,2017-02-20 09:26:00,2017-02-20 10:15:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,77.0,488100.0,91.0,49.0,1.0,0
19,136164,PG0252,AAQ,SVO,2017-01-07 10:05:00,2017-01-07 11:45:00,Arrived,2017-01-07 10:07:00,2017-01-07 11:46:00,733,733,Boeing 737-300,Economy,118,109.0,1335800.0,92.0,99.0,2.0,5
191,136758,PG0480,AAQ,EGO,2017-01-12 09:25:00,2017-01-12 10:15:00,Arrived,2017-01-12 09:26:00,2017-01-12 10:15:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,85.0,538500.0,100.0,49.0,1.0,3
151,136630,PG0480,AAQ,EGO,2017-02-25 09:25:00,2017-02-25 10:15:00,Arrived,2017-02-25 09:32:00,2017-02-25 10:22:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,82.0,519600.0,96.0,50.0,7.0,5
225,136861,PG0480,AAQ,EGO,2017-02-12 09:25:00,2017-02-12 10:15:00,Arrived,2017-02-12 09:28:00,2017-02-12 10:17:00,SU9,SU9,Sukhoi Superjet-100,Economy,85,76.0,481200.0,89.0,49.0,3.0,6

In [103]:
flights.groupby(['flight_no','model','day_of_week'])['total_amount_tickets','aircraft_occupancy','duration', 'delay'].mean().sort_values(by='total_amount_tickets')

<ipython-input-103-4d0b4cbc223d>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby(['flight_no','model','day_of_week'])['total_amount_tickets','aircraft_occupancy','duration', 'delay'].mean().sort_values(by='total_amount_tickets')

                                           total_amount_tickets  \
flight_no model               day_of_week
PG0194    Boeing 737-300      1                        0.000000
PG0480    Sukhoi Superjet-100 0                   347166.666667
                              1                   349233.333333
                              3                   349462.500000
                              4                   353081.250000
                              6                   353883.333333
                              5                   358875.000000
                              2                   376743.750000
PG0252    Boeing 737-300      6                   770177.777778
                              2                   810187.500000
                              0                   812533.333333
                              3                   825737.500000
                              5                   833662.500000
                              4                   847312.500000
                              1                   852933.333333

                                           aircraft_occupancy    duration  \
flight_no model               day_of_week
PG0194    Boeing 737-300      1                      0.000000  306.666667
PG0480    Sukhoi Superjet-100 0                     91.000000   50.000000
                              1                     90.277778   50.333333
                              3                     90.937500   49.750000
                              4                     91.875000   49.750000
                              6                     92.555556   50.222222
                              5                     93.750000   50.250000
                              2                     98.937500   50.250000
PG0252    Boeing 737-300      6                     83.333333   99.444444
                              2                     86.187500  100.000000
                              0                     85.388889   99.888889
                              3                     87.250000  100.250000
                              5                     89.250000  100.000000
                              4                     90.500000   99.500000
                              1                     89.666667   99.777778

                                               delay
flight_no model               day_of_week
PG0194    Boeing 737-300      1             3.111111
PG0480    Sukhoi Superjet-100 0             3.222222
                              1             2.333333
                              3             2.875000
                              4             4.500000
                              6             3.111111
                              5            27.875000
                              2            22.375000
PG0252    Boeing 737-300      6             3.555556
                              2             3.500000
                              0             2.777778
                              3             2.375000
                              5             2.750000
                              4             2.125000
                              1            26.111111

## СТОИМОСТЬ ТОПЛИВА в аэропорту Анапы
(согласно данным Федерального агентства воздушного траснспорта)
цена топлива в декабре 2017  - 47 101 руб/тонну
в январе 2017 - 41 435 руб/тонну
в феврале 2017 - 39 553 руб/тонну

## РАСХОД ТОПЛИВА разных самолетов
(согласно данным vpolete.online)
Boeing 737-300 - 2,4 тыс. кг/ч
Sukhoi Superjet 100 - 1,7 тыс. кг/ч

In [104]:
#укажем для каждого рейса актуальную цену топлива
prices = {1: 41435, 2:39553, 12:47101}
flights['fuel'] = flights.actual_departure.apply(lambda x:prices[x.month])
flights

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,...,model,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration,delay,day_of_week,fuel
0,136119,PG0252,AAQ,SVO,2017-01-03 10:05:00,2017-01-03 11:45:00,Arrived,2017-01-03 10:08:00,2017-01-03 11:49:00,733,...,Boeing 737-300,Business,12,11.0,402600.0,92.0,101.0,3.0,1,41435
1,136119,PG0252,AAQ,SVO,2017-01-03 10:05:00,2017-01-03 11:45:00,Arrived,2017-01-03 10:08:00,2017-01-03 11:49:00,733,...,Boeing 737-300,Economy,118,102.0,1250400.0,86.0,101.0,3.0,1,41435
2,136120,PG0252,AAQ,SVO,2017-02-24 10:05:00,2017-02-24 11:45:00,Arrived,2017-02-24 10:07:00,2017-02-24 11:46:00,733,...,Boeing 737-300,Business,12,11.0,402600.0,92.0,99.0,2.0,4,39553
3,136120,PG0252,AAQ,SVO,2017-02-24 10:05:00,2017-02-24 11:45:00,Arrived,2017-02-24 10:07:00,2017-02-24 11:46:00,733,...,Boeing 737-300,Economy,118,98.0,1202800.0,83.0,99.0,2.0,4,39553
4,136122,PG0252,AAQ,SVO,2017-01-08 10:05:00,2017-01-08 11:45:00,Arrived,2017-01-08 10:08:00,2017-01-08 11:48:00,733,...,Boeing 737-300,Business,12,10.0,366000.0,83.0,100.0,3.0,6,41435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,136951,PG0480,AAQ,EGO,2017-02-02 09:25:00,2017-02-02 10:15:00,Arrived,2017-02-02 09:28:00,2017-02-02 10:17:00,SU9,...,Sukhoi Superjet-100,Economy,85,78.0,493800.0,92.0,49.0,3.0,3,39553
250,136953,PG0480,AAQ,EGO,2017-02-27 09:25:00,2017-02-27 10:15:00,Arrived,2017-02-27 09:27:00,2017-02-27 10:17:00,SU9,...,Sukhoi Superjet-100,Business,12,12.0,226800.0,100.0,50.0,2.0,0,39553
251,136953,PG0480,AAQ,EGO,2017-02-27 09:25:00,2017-02-27 10:15:00,Arrived,2017-02-27 09:27:00,2017-02-27 10:17:00,SU9,...,Sukhoi Superjet-100,Economy,85,85.0,538500.0,100.0,50.0,2.0,0,39553
252,136956,PG0480,AAQ,EGO,2017-02-04 09:25:00,2017-02-04 10:15:00,Arrived,2017-02-04 09:33:00,2017-02-04 10:23:00,SU9,...,Sukhoi Superjet-100,Business,12,11.0,207900.0,92.0,50.0,8.0,5,39553
253,136956,PG0480,AAQ,EGO,2017-02-04 09:25:00,2017-02-04 10:15:00,Arrived,2017-02-04 09:33:00,2017-02-04 10:23:00,SU9,...,Sukhoi Superjet-100,Economy,85,85.0,538500.0,100.0,50.0,8.0,5,39553

In [105]:
#рассчитаем для каждого рейса сумму, затраченную на топливо
flights['waste_fuel'] = 0
for i in flights.index:
    if flights.model.iloc[i] =='Boeing 737-300':
        flights.waste_fuel.iloc[i] = 2.4 * (math.ceil(flights.duration.iloc[i]/60)) * flights.fuel.iloc[i]
    else:
        flights.waste_fuel.iloc[i] = 1.7 * (math.ceil(flights.duration.iloc[i]/60)) * flights.fuel.iloc[i]
        
flights

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,...,fare_conditions,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration,delay,day_of_week,fuel,waste_fuel
0,136119,PG0252,AAQ,SVO,2017-01-03 10:05:00,2017-01-03 11:45:00,Arrived,2017-01-03 10:08:00,2017-01-03 11:49:00,733,...,Business,12,11.0,402600.0,92.0,101.0,3.0,1,41435,198888.0
1,136119,PG0252,AAQ,SVO,2017-01-03 10:05:00,2017-01-03 11:45:00,Arrived,2017-01-03 10:08:00,2017-01-03 11:49:00,733,...,Economy,118,102.0,1250400.0,86.0,101.0,3.0,1,41435,198888.0
2,136120,PG0252,AAQ,SVO,2017-02-24 10:05:00,2017-02-24 11:45:00,Arrived,2017-02-24 10:07:00,2017-02-24 11:46:00,733,...,Business,12,11.0,402600.0,92.0,99.0,2.0,4,39553,189854.4
3,136120,PG0252,AAQ,SVO,2017-02-24 10:05:00,2017-02-24 11:45:00,Arrived,2017-02-24 10:07:00,2017-02-24 11:46:00,733,...,Economy,118,98.0,1202800.0,83.0,99.0,2.0,4,39553,189854.4
4,136122,PG0252,AAQ,SVO,2017-01-08 10:05:00,2017-01-08 11:45:00,Arrived,2017-01-08 10:08:00,2017-01-08 11:48:00,733,...,Business,12,10.0,366000.0,83.0,100.0,3.0,6,41435,198888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,136951,PG0480,AAQ,EGO,2017-02-02 09:25:00,2017-02-02 10:15:00,Arrived,2017-02-02 09:28:00,2017-02-02 10:17:00,SU9,...,Economy,85,78.0,493800.0,92.0,49.0,3.0,3,39553,67240.1
250,136953,PG0480,AAQ,EGO,2017-02-27 09:25:00,2017-02-27 10:15:00,Arrived,2017-02-27 09:27:00,2017-02-27 10:17:00,SU9,...,Business,12,12.0,226800.0,100.0,50.0,2.0,0,39553,67240.1
251,136953,PG0480,AAQ,EGO,2017-02-27 09:25:00,2017-02-27 10:15:00,Arrived,2017-02-27 09:27:00,2017-02-27 10:17:00,SU9,...,Economy,85,85.0,538500.0,100.0,50.0,2.0,0,39553,67240.1
252,136956,PG0480,AAQ,EGO,2017-02-04 09:25:00,2017-02-04 10:15:00,Arrived,2017-02-04 09:33:00,2017-02-04 10:23:00,SU9,...,Business,12,11.0,207900.0,92.0,50.0,8.0,5,39553,67240.1
253,136956,PG0480,AAQ,EGO,2017-02-04 09:25:00,2017-02-04 10:15:00,Arrived,2017-02-04 09:33:00,2017-02-04 10:23:00,SU9,...,Economy,85,85.0,538500.0,100.0,50.0,8.0,5,39553,67240.1

In [106]:
#рассчитаем примерную прибыльность каждого рейса
flights['profit'] = flights['total_amount_tickets'] - flights['waste_fuel']
flights.sample(7)

,flight_id,flight_no,departure_airport,arrival_airport,scheduled_departure,scheduled_arrival,status,actual_departure,actual_arrival,aircraft_code,...,seat,sold_tickets,total_amount_tickets,aircraft_occupancy,duration,delay,day_of_week,fuel,waste_fuel,profit
182,136733,PG0480,AAQ,EGO,2017-01-09 09:25:00,2017-01-09 10:15:00,Arrived,2017-01-09 09:27:00,2017-01-09 10:18:00,SU9,...,12,12.0,226800.0,100.0,51.0,2.0,0,41435,70439.5,156360.5
146,136612,PG0480,AAQ,EGO,2017-02-21 09:25:00,2017-02-21 10:15:00,Arrived,2017-02-21 09:27:00,2017-02-21 10:17:00,SU9,...,12,12.0,226800.0,100.0,50.0,2.0,1,39553,67240.1,159559.9
73,136348,PG0252,AAQ,SVO,2017-02-10 10:05:00,2017-02-10 11:45:00,Arrived,2017-02-10 10:05:00,2017-02-10 11:45:00,733,...,118,108.0,1323600.0,92.0,100.0,0.0,4,39553,189854.4,1133745.6
55,136275,PG0252,AAQ,SVO,2017-01-13 10:05:00,2017-01-13 11:45:00,Arrived,2017-01-13 10:08:00,2017-01-13 11:46:00,733,...,118,113.0,1385800.0,96.0,98.0,3.0,4,41435,198888.0,1186912.0
1,136119,PG0252,AAQ,SVO,2017-01-03 10:05:00,2017-01-03 11:45:00,Arrived,2017-01-03 10:08:00,2017-01-03 11:49:00,733,...,118,102.0,1250400.0,86.0,101.0,3.0,1,41435,198888.0,1051512.0
101,136441,PG0252,AAQ,SVO,2017-02-03 10:05:00,2017-02-03 11:45:00,Arrived,2017-02-03 10:07:00,2017-02-03 11:47:00,733,...,118,117.0,1434600.0,99.0,100.0,2.0,4,39553,189854.4,1244745.6
29,136185,PG0252,AAQ,SVO,2017-01-14 10:05:00,2017-01-14 11:45:00,Arrived,2017-01-14 10:06:00,2017-01-14 11:49:00,733,...,118,94.0,1154000.0,80.0,103.0,1.0,5,41435,198888.0,955112.0

In [107]:
flights.groupby(['flight_no','model','day_of_week'])['total_amount_tickets','aircraft_occupancy','profit'].mean().sort_values(by='total_amount_tickets')

<ipython-input-107-c8ecf1dc833b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  flights.groupby(['flight_no','model','day_of_week'])['total_amount_tickets','aircraft_occupancy','profit'].mean().sort_values(by='total_amount_tickets')

                                           total_amount_tickets  \
flight_no model               day_of_week
PG0194    Boeing 737-300      1                        0.000000
PG0480    Sukhoi Superjet-100 0                   347166.666667
                              1                   349233.333333
                              3                   349462.500000
                              4                   353081.250000
                              6                   353883.333333
                              5                   358875.000000
                              2                   376743.750000
PG0252    Boeing 737-300      6                   770177.777778
                              2                   810187.500000
                              0                   812533.333333
                              3                   825737.500000
                              5                   833662.500000
                              4                   847312.500000
                              1                   852933.333333

                                           aircraft_occupancy         profit
flight_no model               day_of_week
PG0194    Boeing 737-300      1                      0.000000 -574071.733333
PG0480    Sukhoi Superjet-100 0                     91.000000  278149.122222
                              1                     90.277778  280215.788889
                              3                     90.937500  280622.700000
                              4                     91.875000  284241.450000
                              6                     92.555556  284865.788889
                              5                     93.750000  290035.200000
                              2                     98.937500  307903.950000
PG0252    Boeing 737-300      6                     83.333333  575304.711111
                              2                     86.187500  615816.300000
                              0                     85.388889  617660.266667
                              3                     87.250000  631366.300000
                              5                     89.250000  639291.300000
                              4                     90.500000  652941.300000
                              1                     89.666667  658060.266667